/*start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
    background-color: beige;
    padding-top:60px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
  }
  /*end global rules*/

/*start landing*/
.landing{
    background-image: url(../images/background2.jpg);
    opacity:92%;
    background-position: center;
    background-size: cover;
    height:30vh;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position:relative;
  }
  .landing::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
  }
  .landing .img{
    width:100%;
    height:auto;
  }
  .landing .intro-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    color:white;
    z-index:2;
    transform:translate(-50%,-50%);
    font-weight:bold;
    font-size:100px;
  }
  .landing .intro-text h1{
    margin:0;
    font-weight:boldest;
    font-size:50px;
    color:beige
  }
  /*end landing*/
  