* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*start header*/
.header {
    padding: 10px 40px;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: beige;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    width: 100%;
}

header .container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #e0e0e0;
}

.logo-search {
    display: flex;
    align-items: center;
    gap: 50px;
    order: 2;
}

.header .logo {
    width: 50px;
    height: 50px;
    align-items: center;
    order: 2;
    margin-right: 40px;
}

header .search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 250px;
    text-align: right;
    direction: rtl;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex;
    order: 1;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px 20px;
    color: black;
}

header nav ul li a:hover {
    color: rgb(72, 72, 72);
}

header nav ul li.home {
    order: 2;
}

header nav ul li.services {
    order: 1;
}

@media (max-width: 670px) {
    .logo-search {
        gap: 0;
    }

    .search-bar input {
        width: unset;
    }

    header nav ul li a {
        padding: 10px 4px;
        font-size: 18px;
    }
}

@media (max-width: 440px) {


    .logo-search input {
        width: 150px;
    }

    .logo-search img {
        margin-left: 10px;
        margin-right: 0 !important;
        width: 30px !important;
        height: 30px !important;
    }
    .search-bar{
        display: none !important;
    }
}
/*end header*/

/*responsive header*/
.menu{
    display: none;
}
.dropmenu {
    width: 300px;
    position: absolute;
    right: 0.5rem;
    top: 4rem;
    background-color: rgba(245, 245, 220, 0.781);
    padding: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.dropmenu li {
    padding: 5px 0;
    list-style: none;
}
.dropmenu a{
    color: black;
    text-decoration: none;
}
.dropmenu ul{
    text-align: center;
    padding-left: 0;
}
.open{
    width: 90%;
}
@media(max-width:900px) {
    nav ul{
        display: none !important;
    }
    .open,
    .menu{
        display: block !important;
    }
}
/*footer*/
.footer p {
    color: #777;
    padding: 15px 10px;
    text-align: center;
    font-size: 18px;
}
.footer{
    background-color: beige;
}