/*start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: beige;
    padding-top: 60px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
}

/*end global rules*/


/*start landing*/
.prayer {
    background-image: url(../images/R.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
    position: relative;
    direction: rtl;
    font-family: "Amiri", serif;
}

.prayer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.633);
    z-index: 1;
}

@media (max-width: 440px)  {
    .prayer {
        margin-top: 40px;
    }
}.prayer .container {
    position: relative;
    z-index: 20;
    padding: 40px;
}

.prayer .container .searchform {
    margin: 20px 10px 30px;
    
}

.prayer .container .searchform input[type="text"] {
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid gold;
    width: 200px;
    margin: 10px;
}

@media (max-width: 560px) {
    .prayer .container .searchform {
        text-align: right;
    }
}

@media (max-width: 370px) {
    .prayer .container .searchform {
        text-align: center;
    }

    .prayer .container .searchform input[type="text"] {
        width: 100%;
    }
}

.prayer .container .searchform button {
    background: beige;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prayer .container .day {
    width: 180px;
    height: 130px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.193);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prayer .container .day p {
    font-size: 20px;
    font-weight: bold;
}

.prayer .container h2 {
    color: #e2c209;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

.prayer-time .beforefetch{
    font-size: 30px;
    width: 50%;
    margin:70px auto;
}

.prayer .container .prayer-time {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 270px;
}

.prayer .container .prayer-time .pry-time {
    font-size: 25px;
    border: 2px solid beige;
    width: calc(90% /6);
    height: 150px;
    padding: 15px;
    margin: 40px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.prayer .container .prayer-time .pry-time:hover {
    border-color: gold;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

@media (max-width: 990px) {
    .prayer .container .prayer-time .pry-time {
        width: calc(90% /3);
    }
}

@media (max-width: 470px) {
    .prayer .container .prayer-time .pry-time {
        width: calc(90% /2);
    }
}

@media (max-width: 320px) {
    .prayer .container .prayer-time .pry-time {
        width: calc(90%);
    }
}

.prayer .container .prayer-time .pry-time .name {
    width: 100%;
    text-align: center;
}

/*end prayer*/
